OPENAI_API_KEY=

MEDIUM_TOKEN=
MEDIUM_USER_ID=

WORDPRESS_TOKEN=
WORDPRESS_SITE_ID=

BLOGGER_API_KEY=
BLOGGER_BLOG_ID=

TUMBLR_BLOG_IDENTIFIER=

TELEGRAPH_ACCESS_TOKEN=

REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=
REDDIT_PASSWORD=

PINBOARD_TOKEN=
POCKET_CONSUMER_KEY=
POCKET_ACCESS_TOKEN=

PINGOMATIC_URL=https://pingomatic.com/ping/
GOOGLE_PING_URL=https://www.google.com/ping
BING_PING_URL=https://www.bing.com/ping
